/* Styles for the main footer container */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

/* Center the content within the footer */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* Add padding to the sides */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-section {
  flex: 1;
  margin-right: 150px; /* Adjust the right margin as needed */
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Styles for the list items within sections */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

/* Styles for links within sections */
.fs-15 {
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.fs-15:hover {
  color: #00bcd4; /* Change color on hover */
}

/* Styles for social media icons */
.social-icons {
  display: flex;
  justify-content: flex-start; /* Align social media links to the right */
}

.social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 24px;
  text-decoration: none;
}

/* Styles for the copyright section */
.footer-section:last-child {
  flex-basis: 100%;
  text-align: center;
  margin-top: 20px;
}
